<%= form_with(model: store) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="shadow sm:rounded-md sm:overflow-hidden">
    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
      <div class="grid grid-cols-6 gap-6">

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="field">
          <%= form.label :domain %>
          <%= form.text_field :domain %>
        </div>

        <div class="field">
          <%= form.label :adress %>
          <%= form.text_field :adress %>
        </div>

        <div class="field">
          <%= form.label :city %>
          <%= form.text_field :city %>
        </div>

        <div class="field">
          <%= form.label :zip_code %>
          <%= form.text_field :zip_code %>
        </div>

        <div class="field">
          <%= form.label :state %>
          <%= form.text_field :state %>
        </div>

        <div class="field">
          <%= form.label :country %>
          <%= form.text_field :country %>
        </div>

        <div class="field">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number %>
        </div>

        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email %>
        </div>

        <div class="field">
          <%= form.label :active %>
          <%= form.check_box :active %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
